body{
    text-align: center;
    background-color: black;
}

h2{
    color: aqua;
}

input{
    font-size:large;
    background-color: aqua;
    color: black;
    font-weight: bolder;
}

button{
    background-color: blueviolet;
    padding:10px
}